@import '../../app.component.scss';

.main-sidenav {
  font-family: $primary_font;
  background-color: $primary_color;
  width: 70px;
  height: 100vh;
  padding: 110px 0 0 0;
  position: absolute;
  .link-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    .link-item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      .link-btn {
        color: $secondary_color;
        min-width: 50px;
        font-size: 18px;
        outline: none;
        cursor: default;
      }
      .active {
        color: $text_color;
      }
    }
  }
}
