<div class="main-sidenav">
  <ul class="link-list">
    <li class="link-item">
      <button mat-button class="link-btn active"><i class="fas fa-home"></i></button>
    </li>
    <li class="link-item">
      <button mat-button class="link-btn"><i class="fas fa-cogs"></i></button>
    </li>
    <li class="link-item">
      <button mat-button class="link-btn"><i class="far fa-file-alt"></i></button>
    </li>
    <li class="link-item">
      <button mat-button class="link-btn"><i class="far fa-bell"></i></button>
    </li>
    <li class="link-item">
      <button mat-button class="link-btn"><i class="far fa-comment"></i></button>
    </li>
  </ul>
</div>
