<div class="next-song-container center-container">
  <div style="background-image: url('./assets/img/home-design1.png')" class="background-image-container"></div>
  <div class="wrapper center-content">
    <div class="album-cover-container">
      <img src="assets/img/evolve-album.jpg" alt="" class="album-img">
    </div>
    <div class="song-info-container center-container">
      <div class="center-content">
        <div class="song-info">
          <h5 class="title">Walking the wire</h5>
          <h6 class="artist">Imagine Dragons</h6>
        </div>
        <div class="next-song-info">
          <p class="header">UP NEXT</p>
          <p class="song">Golden Sands</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="featured-for-you-container">
  <app-featured-for-you></app-featured-for-you>
</div>
