<div class="track-list-container" *ngIf="popularTracks">
  <table class="track-table">
    <tr
      class="table-row track-row"
      [ngClass]="{ 'is_playing': playerState?.track_window.current_track.id == track?.id }"
      *ngFor="let track of popularTracks; let i = index;">

      <td class="track-column table-column album-cover-col">
        <div class="album-cover-container"
          [ngStyle]="{'background-image': 'url(' + track.album.images[0].url + ')'}">

        </div>
      </td>

      <td class="track-column table-column num-col">
        <span class="play-btn-holder">
          <button
            class="player-btn play-pause-btn non-playing-btn"
            (click)="onSetTrackToPlay(track.uri)"
            *ngIf="playerState?.track_window.current_track.id != track?.id">
            <i class="fas fa-play"></i>
          </button>

          <button
            class="player-btn play-pause-btn"
            (click)="onTogglePlayback()"
            *ngIf="playerState?.track_window.current_track.id == track?.id">
            <span
              *ngIf="playerState?.paused">
              <i class="fas fa-play"></i>
            </span>
            <span *ngIf="playerState?.paused == false">
              <i class="fas fa-pause"></i>
            </span>
          </button>
        </span>
        <span class="track-number" *ngIf="playerState?.track_window.current_track.id != track?.id">
          {{ i + 1 }}
        </span>
      </td>
      <td class="track-column table-column favorite-col">
        <button class="favorite-btn" (click)="onSaveToFavorites(track.id, i)">
          <span class="not-favorited" *ngIf="!track.is_favorited">+</span>
          <span class="favorited-check" *ngIf="track.is_favorited">
            <i class="fas fa-check"></i>
          </span>
          <span class="favorited-remove" *ngIf="track.is_favorited">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </td>
      <td class="track-column table-column track-name-col">{{ track.name }}</td>
      <td class="track-column table-column track-duration-col">{{ track.duration_ms | time }}</td>
    </tr>
  </table>
</div>
