<div class="main-navbar">
  <div class="content">
    <div class="nav-section left-section">
      <div class="search-box-container">
        <i class="fas fa-search"></i>
        <input id="search-box" type="text" class="search-box">
      </div>
    </div><!--
    --><div class="nav-section right-section">
      <button class="nav-btn gopro-btn" mat-button>GO PRO</button><!--
      --><button class="nav-btn login-btn" mat-button>Log in</button><!--
      --><button class="nav-btn signup-btn" mat-button>Sign up</button>
    </div>
  </div>
</div>

