<div class="track-list-container">
  <table class="track-table">
    <tr class="table-row header-row">
      <th class="table-column header-column num-header-col"></th>
      <th class="table-column header-column favorite-header-col"></th>
      <th class="table-column header-column track-name-header-col">TITLE</th>
      <th class="table-column header-column artist-name-header-col">Artist</th>
      <th class="table-column header-column album-name-header-col">Album</th>
      <th class="table-column header-column added-at-header-col">Added</th>
      <th class="table-column header-column track-duration-header-col">
        <i class="far fa-clock"></i>
      </th>
    </tr>

    <tr
      class="table-row track-row"
      [ngClass]="{ 'is_playing': playerState?.track_window.current_track.id == trackItem.track?.id }"
      *ngFor="let trackItem of tracks; let i = index;">
      <td class="track-column table-column num-col">
        <span class="play-btn-holder">
          <button
            class="player-btn play-pause-btn non-playing-btn"
            (click)="onSetTrackToPlay(i)"
            *ngIf="playerState?.track_window.current_track.id != trackItem.track?.id">
            <i class="fas fa-play"></i>
          </button>

          <button
            class="player-btn play-pause-btn"
            (click)="onTogglePlayback()"
            *ngIf="playerState?.track_window.current_track.id == trackItem.track?.id">
            <span
              *ngIf="playerState?.paused">
              <i class="fas fa-play"></i>
            </span>
            <span *ngIf="playerState?.paused == false">
              <i class="fas fa-pause"></i>
            </span>
          </button>
        </span>
      </td>
      <td class="track-column table-column favorite-col">
        <button class="favorite-btn" (click)="onSaveToFavorites(trackItem.track.id, i)">
          <span class="not-favorited" *ngIf="!trackItem.is_favorited">+</span>
          <span class="favorited-check" *ngIf="trackItem.is_favorited">
            <i class="fas fa-check"></i>
          </span>
          <span class="favorited-remove" *ngIf="trackItem.is_favorited">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </td>
      <td class="track-column table-column track-name-col">
        {{ trackItem.track.name | shorten: 35: ' ...' }}
      </td>
      <td class="track-column table-column artist-col">
        <span
          class="hover-underline"
          [routerLink]="['/artist']"
          [queryParams]="{artist_id: trackItem.track.artists[0].id }">
          {{ trackItem.track.artists[0].name | shorten: 20: ' ...' }}
        </span>
      </td>
      <td class="track-column table-column album-col">
        <span
          class="hover-underline"
          [routerLink]="['/album']"
          [queryParams]="{album_id: trackItem.track.album.id }"
          >{{ trackItem.track.album.name | shorten: 20: ' ...' }}</span>
      </td>
      <td class="track-column table-column added-at-col">
        {{ trackItem.added_at | date }}
      </td>
      <td class="track-column table-column track-duration-col">
        {{ trackItem.track.duration_ms | time }}
      </td>
    </tr>
  </table>
</div>
