@import '../../../app.component.scss';

.login-page-container {
  height: 100vh;
  width: 100vw;
  background-color: $primary_color;

  .login-card-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    .login-card {
      background-color: $primary_color_light;
      max-width: 350px;
      border-radius: 5px;
      margin: auto;
      display: inline-block;
      padding: 25px;
      font-family: $primary_font;

      .login-btn {
        cursor: default;
        background-color: $spotify_color;
        outline: none;
        text-decoration: none;
        color: #ffffff;

        .fa-spotify {
          font-size: 25px;
          position: relative;
          top: -2px;
          margin-right: 8px;
        }
      }
    }
  }
}
