<div class="recommended-albums-container">
  <div class="header-container center-container">
    <div class="center-content">
      <div><h5 class="section-header">Recommended Albums</h5></div>
      <div><a [routerLink]="['browse']" class="mini-link">Browse</a></div>
    </div>
  </div>

  <div class="albums-container">
    <ul class="album-list center-container">
      <li class="album-content"
          *ngFor="let album of recommendedAlbumsService.$recommendedAlbums | async">
        <img class="album-img" src="{{ album.album.images[0].url }}" alt="">
        <div class="album-info">
          <h5 class="name">{{ album.album.name }}</h5>
          <h6 class="artist">{{ album.artists[0].name }}</h6>
        </div>
      </li>
    </ul>
  </div>
</div>
