@import '../../app.component.scss';

.main-controls-container {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: $primary_color;
  box-shadow: 0 -2px 10px $primary_color_dark;
  font-family: $primary_font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  color: $text_color;
  .content {
    padding: 0 25px;
    .nav-section {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
    .outer-sec {
      width: 25%;
    }
    .mid-sec {
      width: 50%;
    }
  }
}

//.main-controls-container {
//  background-color: #282828;
//  color: $text_color;
//  position: fixed;
//  bottom: 0;
//  width: 100%;
//  height: 85px;
//  .vertically-center {
//    height: 85px;
//    display: flex;
//    align-items: center;
//  }
//
//  .current-song-container {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//  }
//
//  .content-container {
//    padding: 10px;
//    width: 100%;
//  }
//
//  .img-container {
//    display: inline-block;
//    width: 60px;
//    vertical-align: middle;
//  }
//
//  .img-fluid {
//    max-width: 60px
//  }
//
//  .song-info-container {
//    display: inline-block;
//    vertical-align: middle;
//    padding: 0 0 0 10px;
//  }
//
//  .song-title {
//    color: #ffffff;
//    font-size: 12px;
//    margin: 0;
//  }
//
//  .song-artist {
//    font-size: 12px;
//    margin: 0;
//  }
//
//
//  .player-container {
//    .content-container {
//      width: 100%;
//    }
//
//    .controls-container {
//      width: 100%;
//      z-index: 1000;
//    }
//
//    .controls-list {
//      position: relative;
//      top: 10px;
//      list-style-type: none;
//      margin: 0;
//      padding: 0;
//      text-align: center;
//      width: 100%;
//    }
//
//    .control-item {
//      display: inline-block;
//      margin-right: 20px;
//      cursor: pointer;
//      &:hover {
//        color: #ffffff;
//      }
//      &:last-child {
//        margin-right: 0;
//      }
//    }
//
//    .pause-play-btn {
//      font-size: 35px;
//    }
//
//    .position-center {
//      position: relative;
//      top: -6px;
//      padding: 0 4px;
//    }
//
//    .progress-container {
//      overflow: hidden;
//    }
//
//    .inline-container {
//      display: inline-block;
//    }
//
//    .time-container {
//      width: 10%;
//      text-align: right;
//      padding: 0 6px 0 6px;
//      &:last-child {
//        text-align: left;
//      }
//      .time {
//        font-size: 11px;
//        font-weight: 300;
//        position: relative;
//        top: 5px;
//      }
//    }
//
//    .slider-container {
//      width: 80%;
//    }
//
//    .progress-bar {
//      background-color: transparent;
//      color: orange;
//      width: 100%;
//      padding: 0 !important;
//      height: 35px;
//    }
//
//    .volume-container {
//      .content {
//        width: 100%;
//        text-align: right;
//      }
//      .volume-icon {
//        position: relative;
//        top: 2px;
//        min-width: 20px;
//        display: inline-block;
//      }
//    }
//  }
//}
