<footer class="main-controls-footer">
  <div class="main-controls-container">
    <div class="now-playing-bar">
      <div class="bar-content-container now-playing-bar__left">Left</div>

      <div class="bar-content-container now-playing-bar__center">
        <div class="player-controls">
          <div class="player-controls__buttons">
            <button class="player-btn" (click)="onFavorite()"><i class="far fa-heart"></i></button>
            <button class="player-btn" (click)="onSeekBack()"><i class="fas fa-step-backward"></i></button>
            <button class="player-btn play-pause-btn" (click)="onTogglePlay()">
              <span *ngIf="!playing"><i class="fas fa-play"></i></span>
              <span *ngIf="playing"><i class="fas fa-pause"></i></span>
            </button>
            <button class="player-btn" (click)="onSeekForward()"><i class="fas fa-step-forward"></i></button>
            <button class="player-btn" (click)="onToggleShuffle()"><i class="fas fa-random"></i></button>
          </div>

          <div class="playback-bar">
            <div class="playback-bar__progress-time">{{ audioProgress | time }}</div>
            <div style="width: 100%">
              <div class="progress-bar-hello">
                <mat-slider [max]="audioLength" [(ngModel)]="audioProgress" class="progress-bar__bg"></mat-slider>
              </div>
            </div>
            <div class="playback-bar__progress-time">{{ audioLength - audioProgress | time }}</div>
          </div>
        </div>
      </div>

      <div class="bar-content-container now-playing-bar__right">Right</div>
    </div>
  </div>
</footer>
