@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Colors
$primary_color: #2A2E4A;
$primary_color_dark: #242740;
$secondary_color: #6D6F8E;
$accent_color: #814CE7;
$text_color: #DFDFE4;

// Fonts
$primary_font: 'Roboto', sans-serif;


