<div class="main-artist-container" *ngIf="artist">
  <div class="center-container">
    <div class="artist-header-container center-content">
      <div class="artist-cover-container"
           [ngStyle]="{'background-image': 'url(' + artist.images[0].url + ')'}">
      </div>

      <div class="artist-info-container">
        <h6 class="artist-type">ARTIST</h6>
        <h1 class="artist-name">{{ artist.name }}</h1>
      </div>

    </div>

    <div class="buttons-and-followers-container center-container">
      <div class="center-content">
        <div class="action-btn-container">
          <button mat-button class="play-btn action-btn" (click)="onPlayArtistsPopularTracks(artist.uri)">Play</button>
          <button mat-button
                  class="follow-btn action-btn"
                  *ngIf="!artist.is_following"
                  (click)="onFollowArtist(artist.id)">
            Follow
          </button>
          <button mat-button
                  class="follow-btn action-btn highlight"
                  *ngIf="artist.is_following"
                  (click)="onUnfollowArtist(artist.id)">
            Unfollow
          </button>
        </div>

        <div class="followers-container dim-text" *ngIf="artist.followers">
          <p class="line header">FOLLOWERS</p>
          <p class="line follower-count">{{ artist.followers.total | number }}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="artist-content-container">
    <div class="artist-content-section popular-tracks-container">
      <span *ngIf="popularTracks">
        <p class="section-header">Popular tracks</p>
        <app-popular-tracks [popularTracks]="popularTracks"></app-popular-tracks>
      </span>
    </div>

    <div class="artist-content-section related-artists-container">
      <span *ngIf="relatedArtists">
        <p class="section-header">Related artists</p>
        <app-related-artists [relatedArtists]="relatedArtists"></app-related-artists>
      </span>
    </div>
  </div>

  <div class="artist-content-section albums-container">
    <span *ngIf="artistAlbums">
      <p class="section-header header-underline">Albums</p>
      <app-albums-list [artistAlbums]="artistAlbums"></app-albums-list>
    </span>
  </div>

</div>
