<div class="recently-listened-container" *ngIf="recentlyListenedService.$recentlyPlayedList | async">
  <div class="header-container">
    <h1 class="section-header">Recently Listened</h1>
  </div>
  <div class="recent-songs-container">
    <ul class="recent-songs-list center-container"
        *ngIf="recentlyListenedService.$recentlyPlayedList | async">
      <li class="recent-song"
          *ngFor="let track of recentlyListenedService.$recentlyPlayedList | async">
        <div class="center-content">
          <div class="album-img">
            <img class="img" src="{{ track.imgURL }}" alt="">
          </div>
          <div class="info">
            <h5 class="title">{{ track.name }}</h5>
            <h6 class="artist">{{ track.artist }}</h6>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
