@import '../../../../app.component.scss';
@import '../home.component.scss';

.recently-listened-container {
  .header-container {
    margin-bottom: 25px;
  }
  .recent-songs-container {
    padding: 25px;
    background-color: $primary_color_transparent;
    border-radius: 5px;
    .recent-songs-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      .recent-song {
        margin-bottom: 20px;
        &:last-child {
          margin: 0;
        }
        .album-img {
          height: 50px;
          width: 50px;
          min-height: 50px;
          min-width: 50px;
          margin-right: 25px;
          border-radius: 6px;
          background: $primary_color_light no-repeat center center;
          background-size: cover;
        }
        .info {
          width: 100%;
          .title {
            font-size: 14px;
            font-weight: 300;
            margin: 0 0 5px 0;
            color: $text_color;
          }
          .artist {
            font-size: 12px;
            font-weight: 300;
            margin: 0;
            color: $secondary_color;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1101px) {
  .recent-songs-list {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .recent-songs-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}
