<div class="featured-for-you-container">
  <div class="header-container center-container">
    <div class="center-content">
      <div><h5 class="section-header">Featured for you</h5></div>
      <div><a [routerLink]="['browse']" class="mini-link">See Other</a></div>
    </div>
  </div>

  <div class="main-body-container" style="background-image: url('./assets/img/rihanna.png')">
    <div class="content-container">
      <h4 class="header">Rihanna in Berlin</h4>
      <p class="description">09.11.2018 | Columbiahalle</p>
      <div class="buy-tickets-container center-container">
        <div class="center-content">
          <div><i class="fas fa-ticket-alt"></i></div>
          <div class="description">BUY TICKETS</div>
        </div>
      </div>
    </div>
  </div>
</div>
