@import '../../../app.component.scss';

.device-notification-container {
  background-color: $accent_color;
  .text-container {
    text-align: right;
    color: $primary_color;
    padding: 4px 25px;
    letter-spacing: 1px;
    font-size: 12px;

    .device-name {
      font-weight: 500;
    }

    .fa-headphones {
      margin-right: 3px;
    }
  }
}
